@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;500;600;700&family=Tajawal:wght@200;400;500;700;800&display=swap');


// =========================================================
//                          Color
// =========================================================
.color-primary 
{
    color: #FF4D00 !important;
}
.bg-footer-color 
{
    background-color: #F2F2F2 !important;
}
.color-footer-lighttext 
{
    color: #1A0330 !important;
}
.hero-title-bg
{
    background-color: #FF4D00 !important;
}
.lightgray-color 
{
    color: #5A5A5A !important;
}
.bg-primary-color 
{
    background-color: #FBFBFB !important;
}
.light-text-color 
{
    color:#D1D1D1 !important;
}

.bg-darkgray 
{
    background-color: #ECECEC !important;
}
.color-purple 
{
    color: #6721AA !important;
}
.color-white 
{
    color: #ffff !important;
}
.bg-white 
{
    background-color: #F5F5F5 !important;
}

// =========================================================
//                          Font sizes
// =========================================================
.f-12
{
    font-size: 12px !important;
} 
.f-14
{
    font-size: 14px !important;
} 
.f-15
{
    font-size: 15px !important;
} 
.f-16
{
    font-size: 16px !important;
} 
.f-20 
{
    font-size: 20px !important;
}
.f-22
{
    font-size: 22px !important;
}
.f-25 
{
    font-size: 25px !important;
}
.f-27 
{
    font-size: 27px !important;
}
.f-28 
{
    font-size: 28px !important;
}
.f-30 
{
    font-size: 30px !important;
}
.f-31 
{
    font-size: 31px !important;
}
.f-35 
{
    font-size: 35px !important;
}
.f-40
{
    font-size: 40px !important;
}
.f-46
{
    font-size: 46px !important;
}
.f-50
{
    font-size: 50px !important;
}
.f-55
{
    font-size: 55px !important;
}
.f-60
{
    font-size: 60px !important;
}
.f-70
{
    font-size: 70px !important;
}
.f-86
{
    font-size: 86px !important;
}
.f-96
{
    font-size: 96px !important;
}
.f-175
{
    font-size: 175px !important;
}

// =========================================================
//                          Font-weight
// =========================================================

.fw-400 
{
    font-weight: 400 !important;
}
.fw-bold 
{
    font-weight: bold !important;
}
.fw-800 
{
    font-weight: 800 !important;
}
.fw-500 
{
    font-weight: 500 !important;
}
.fw-600 
{
    font-weight: 600 !important;
}

// =========================================================
//                          letter-spacing
// =========================================================
.letter-spacing-22 
{
    letter-spacing: 0.22px !important;
}
.letter-spacing-2 
{
    letter-spacing: 2px !important;
}


// =========================================================
//                          Margins
// =========================================================


.mt-5-px
{
    margin-top: 5px !important;
}
.mt-16-px
{
    margin-top: 16px !important;
}
.mt-14-px
{
    margin-top: 14px !important;
}
.mt-10-px
{
    margin-top: 10px !important;
}
.mt-18-px
{
    margin-top: 18px !important;
}
.mt-20-px
{
    margin-top: 20px !important;
}
.mt-24-px
{
    margin-top: 24px !important;
}

.mt-28-px
{
    margin-top: 28px !important;
}
.mt-32-px
{
    margin-top: 32px !important;
}

.mt-40-px
{
    margin-top: 40px !important;
}
.mt-38-px
{
    margin-top: 38px !important;
}
.mt-50-px
{
    margin-top: 50px !important;
}
.mt-55-px
{
    margin-top: 55px !important;
}
.mt-59-px
{
    margin-top: 59px !important;
}

.mt-66-px
{
    margin-top: 66px !important;
}
.mt-95-px
{
    margin-top: 95px !important;
}
.mt-87-px
{
    margin-top: 87px !important;
}


.mt-110-px
{
    margin-top: 110px !important;
}
.mt-117-px
{
    margin-top: 117px !important;
}
.mt-138-px
{
    margin-top: 138px !important;
}
.mt-120-px
{
    margin-top: 120px !important;
}
.mt-140-px
{
    margin-top: 140px !important;
}

.px-280-px
{
    padding: 0px 280px !important;
}
.mt-132-px
{
    margin-top: 132px !important;
}
.mt-147-px
{
    margin-top: 147px !important;
}

.mt-183-px
{
    margin-top: 183px !important;
}
.mt-189-px
{
    margin-top: 189px !important;
}
.mt-225-px
{
    margin-top: 225px !important;
}



.mb-81-px
{
    margin-bottom: 81px !important;
}
.mb-177-px
{
    margin-bottom: 177px !important;
}
.mb-200-px
{
    margin-bottom: 200px !important;
}



// bottom margin




// margin right

.mr-140-px
{
    margin-right: 140px !important;
}
// margin left


.ml-16-px
{
    margin-left: 16px !important;
}


.ml-24-px
{
    margin-left: 24px !important;
}

.ml-140-px
{
    margin-left: 80px !important;
}
.ml-350-px
{
    margin-left: 350px !important;
}
.ml-201-px
{
    margin-left: 201px !important;
}


// margin y



// =========================================================
//                          padding
// =========================================================
.pt-34-px
{
    padding-top: 34px !important;
}
.pl-20-px 
{
    padding-left: 20px;
}
.py-pb-26-77-px
{
    padding-top: 26px !important;
    padding-bottom: 77px !important;
}
.py-70-px
{
    padding-top: 60px !important;
    padding-bottom: 77px !important;
}
.pt-75-px
{
    padding-top: 75px !important;
}
.pt-77-px
{
    padding-top: 77px !important;
}
.pt-34-px
{
    padding-top: 34px !important;
}
.pt-107-px
{
    padding-top: 107px !important;
}
.pt-177-px
{
    padding-top: 177px !important;
}
.pt-292-px
{
    padding-top: 292px !important;
}
.pl-45-px
{
    padding-left: 45px !important;
}
.pl-50-px
{
    padding-left: 50px !important;
}
.pl-66-px
{
    padding-left: 66px !important;
}
.pl-77-px
{
    padding-left: 77px !important;
}
.pr-150-px
{
    padding-right: 160px !important;
}
.px-130-px 
{
    padding:0px 131px !important;
}
.px-240-px 
{
    padding:0px 240px !important;
}
.px-280-px 
{
    padding: 0px 280px !important;
}
.px-54-px 
{
    padding:54px 0 !important;
}

.pb-95-px
{
    padding-bottom: 95px !important;
}
.pb-123-px
{
    padding-bottom: 123px !important;
}
.pb-180-px
{
    padding-bottom: 180px !important;
}
.pb-240-px
{
    padding-bottom: 240px !important;
}
.px-105-px
{
    padding: 0px  105px !important;
}


// left padding

// right side padding




.w-100-p 
{
    width: 100% !important;
}
.w-216-px 
{
    width: 216px !important;
}
.h-211-px
{
    height: 211px !important;
}
.w-1000-px 
{
    width: 1000px !important;
}
.w-1163-px 
{
    width: 1163px !important;
}
.w-1359-px 
{
    width: 1359px !important;
}
.w-472-px 
{
    width: 472px !important;
}
.w-337-px 
{
    width: 337px !important;
}
.w-472-px 
{
    width: 472px !important;
}
.w-412-px 
{
    width: 412px !important;
}