.contact-wrapper {

    .contact-cards {
        .info-card {
            width: 636px;
            text-align: center;
            background: #F9F9F9 0% 0% no-repeat padding-box;
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 20px;

            .p1-text {
                //  min-width: 516px;
                margin-left: auto !important;
                margin-right: auto !important;
                padding: 0px 50px !important;
            }
        }
        .info-card:nth-child(2)
        {
            margin-left: 140px !important;
        }
    }
}